body {
  background-color: #e0fbfc;
  background-image: url(./Image-Sources/Flatmate-Favour-Wallpaper-Fixed.jpg);
  background-size: cover;
  margin: auto;
  padding: auto;
}


img {
  height: 9.375em;
  margin: 4.375em 1.250em;
  width: 9.375em;
}

h1 {
  color: #fff;
  font-size: 2em;
  text-align: center;
}

h2{
  font-size: 1.5em;
}

label {
  color: #e0fbfc;
}

.btn-danger {
  background-color: #ee6c4d;
  border-color: transparent;
  color: #000;
}

.btn-danger:hover {
  background-color: #ed927b;
  border-color: #ed927b;
  color: #000;
}

.btn-danger:not(:disabled):not(.disabled):active {
  background-color: #ee6c4d;
  border-color: transparent;
  color: #000;
}

.btn-primary {
  background-color: #bdc6e5;
  border-color: transparent;
  color: #000;
  padding-left: 0.625em;
  padding-right: 0.625em;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-primary:hover {
  background-color: #38436b;
  border-color: #38436b;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #38436b;
  border-color: transparent;
  color: #38436b;
}

.centerButton {
  text-align: center;
}

.btn-addRoommate{
  background-color: #4BED71;
  border-color: transparent;
  color: #000;

}

.btn-addRoommate-primary:hover {
  background-color: #b6fdc7;
  border-color: #b6fdc7;
}

.btn-addRoommate:not(:disabled):not(.disabled):active {
  background-color: #b6fdc7;
  border-color: transparent;
  color: #b6fdc7;
}

.rightButton {
  margin: 2%;
  text-align: right;
}

.btn-info {
  margin: 1%;
  background-color: #98c1d9;
  border-color: #98c1d9;
}

.btn-info:hover {
  background-color: #293241;
  border-color: #293241;
}

.btn-secondary {
  background-color: #3d5a80;
  border-color: #3d5a80;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #3d5a80;
  border-color: #3d5a80;
  color: #fff;
}

.btn-secondary:not(:disabled):not(.disabled):active {
  background-color: #3d5a80;
  border-color: #3d5a80;
  color: #fff;
}

/* event.html styling: form spacing */
.dateWidth {
  width: 55%;
}

.timeWidth {
  width: 45%;
}

/* dashboard styling - card headers, card bodies, icons, thank/accept/done buttons, date picker, edit button */
/* user icons */
i {
  color: black;
  font-size: 2rem;
}

/* logo */
#logo {
  display: block;
  height: 6.250em;
  margin: 1.250em auto;
  width: 6.250em;
}

/* was having issues with bootstrap margins/padding so I overwrote it */
.button-complete {
  margin: 0 0 0 1.250em;
  padding: 0;
}

/* the far left icon in the card */
.header-icon {
  height: 3em;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 3em;
}

/* colors for background of the heading section of each card */
/* .task-complete {
  background-color: #4bed71;
}

.task-pending {
  background-color: #ee6c4d;
}

.task-accepted {
  background-color: #edaf4b;
} */

/* date label color */
.dashboard-label {
  color: #98c1d9;
}

/* card border and background */
.card {
  background-color: #293241;
  border-color: transparent;
}

/* user icons at top */
.fa-users, .fa-user, .fa-home, .fa-users-cog {
  color: #e0fbfc;
}

.fa-users {
  float: left;
}

.fa-users-cog {
  float: right;
}

/* icons for each card */
.fa-handshake, .fa-hourglass-start, .fa-check {
  border-radius: 0.188em;
  color: #fff;
  font-size: 168.75%;
}

/* handshake icon */
.fa-handshake {
  background-color: #ee6c4d;
  margin-left: 50%;
}

/* hourglass-start icon */
.fa-hourglass-start {
  background-color: #edaf4b;
  margin-left: 50%;
}

/* check icon */
.fa-check {
  background-color: #4bed71;
  margin-left: 50%;
}

/* alert in header */
.alert {
  background-color: #98c1d9;
  border-color: transparent;
  color: #000;
  left: 5%;
  margin: 0;
  padding: 0;
}

/* thanks, accept, and done buttons text color and border*/
.btn-success, .btn-warning, .btn-danger {
  border-color: transparent;
  color: #000;
}

/* thanks button bg color */
.btn-success {
  background-color: #4bed71;
}

.btn-success:hover{
  background-color: #93eda8;
  border-color: #93eda8;
  color: #000;
}

.btn-success:not(:disabled):not(.disabled):active{
  background-color: #4bed71;
  border-color: #4bed71;
  color: #000;
}

/* thanks button bg color */
.btn-warning {
  background-color: #edaf4b;
}

.btn-warning:hover {
  background-color: #edbf76;
  border-color: #edbf76;
  color: #000;
}

.btn-warning:not(:disabled):not(.disabled):active {
  background-color: #edaf4b;
  border-color: #edaf4b;
  color: #000;
}

/* thanks button bg color */
.btn-danger {
  background-color: #ee6c4d;
}

/* drop down collapse */
.drop-down {
  color: #fff;
  padding-bottom: 0.313em;
  padding-left: 0.625em;
  padding-right: 0.625em;
}

/* card header */
.card-header {
  background-color: #e0fbfc;
  border-color: transparent;
  margin: 0;
  padding: 0.313em 1.250em 0.313em 0.313em;
  /*5px 20px 5px 5px;*/
}

/*landing styling - link buttons, logo image */
.centerText {
  color: #fff;
  margin: 16pt;
  text-align: center;
}

.fa-sign-out-alt{
  color: #e0fbfc;
}
